
body, html {
    height: 100%;
    margin: 0;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.welcome-message {
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    animation: fadeInOut 4s ease-in-out forwards;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}